<h1>{{ title }}</h1>
<ul>
    <li *ngFor="let student of students" 
        (click)="onSelect(student)"
    >
        <span>{{student.id}}</span> {{student.name | uppercase }} 
    </li>
</ul>

<student-detail [student]="selected"></student-detail>

<h2>{{ title2 }}</h2>
<ul>
    <li *ngFor="let teacher of teachers" 
        (click)="onSelectTeacher(teacher)"
    >
        <span>{{teacher.id}}</span> {{teacher.name | uppercase }} 
    </li>
</ul>

<teacher-detail [teacher]="selected1"></teacher-detail>